.hero {

  position: relative;
  padding-top: 200px;
  @include mq($from: desktop) {
    padding: 0;
  }

  &:before {
    content: "";
    @include size(350px);
    @include absolute(-160px,null,null,-125px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 864.46 995.86'%3E%3Cpath d='M195.34,556.99c1.26-22.7,6.94-47.29,20.18-82.6,6.94-18.92,44.14-81.97,55.49-101.51,11.35-19.55,27.11-38.46,30.26-52.33l1.89-8.2-17.02-6.94c-1.26,8.2-5.04,19.55-12.61,29.63-13.24,18.28-51.07,60.53-70.62,75.03-19.55,14.5-51.7,46.03-61.16,52.33s-24.59,18.92-17.65-1.89c6.94-20.81,22.7-49.18,35.31-60.53,10.72-10.09,75.03-61.79,92.69-75.03,12.61-9.46,23.96-15.13,30.26-21.44-54.22-20.81-134.93-47.92-252.21-75.66C-12.1,218.4,2.4,193.81,2.4,193.81c0,0,133.67,33.42,261.03,81.97-5.04-10.72-10.72-28.37-14.5-46.03-6.31-29.63-10.72-87.01-5.67-121.06,5.04-34.05,6.94-44.77,9.46-26.48s18.28,74.4,20.81,115.38c1.89,35.31,5.67,66.83,0,81.97l10.09,3.78-.63-.63c-2.52-10.09-1.26-25.85,6.31-51.7l31.53-114.12c9.46-34.05,34.68-77.55,47.92-101.51,13.24-23.96,15.13-18.92,11.98,8.2-3.15,27.11-15.76,75.03-27.74,106.56-11.98,31.53-33.42,92.69-49.81,122.95-13.24,25.22-6.31,34.05-4.41,36.57l6.94,2.52c.63-1.26,3.78-13.24,22.7-54.22,20.81-43.51,51.7-101.51,80.71-127.99,29-26.48,73.14-74.4,82.6-80.71,9.46-6.31,47.29-37.2,18.92,6.31-28.37,43.51-49.81,76.92-69.99,104.67-20.18,27.74-65.57,90.16-87.01,109.08-12.61,11.35-31.53,35.94-41.61,46.03l18.92,7.57c9.46-6.31,26.48-20.18,43.51-46.03,25.85-37.83,105.3-125.47,137.45-153.85,32.16-28.37,70.62-51.7,78.81-56.12s37.2-15.13-5.67,30.26c-42.88,45.4-50.44,58.64-71.25,80.08s-93.95,88.27-117.91,110.97c-18.92,17.65-39.72,32.16-54.22,39.72,9.46,4.41,19.55,8.83,28.37,13.87,5.67-3.78,15.13-11.35,23.96-26.48,15.13-24.59,90.16-94.58,114.75-119.17,24.59-24.59,89.53-67.47,106.56-75.66,17.02-8.2,64.31-22.07,43.51-3.15-20.81,18.92-67.47,64.31-93.95,86.38s-82.6,74.4-102.77,88.27c-20.18,13.87-56.75,43.51-66.2,51.7-4.41,3.78-5.67,6.31-5.67,8.2l18.92,10.09c5.04-1.89,11.98-6.94,20.81-16.39,17.02-20.81,92.69-76.29,126.73-103.4,34.05-27.11,120.43-63.05,148.8-68.1,28.37-5.04,21.44,1.26-6.31,19.55l-114.75,74.4c-10.72,6.94-91.42,52.96-112.23,68.73-19.55,13.87-40.35,26.48-49.81,32.16l23.96,12.61c5.88-1.8,11.42-4.57,16.39-8.2,15.13-10.72,53.59-51.07,107.82-75.03,54.22-23.96,157.63-54.22,174.65-58.64s62.42-13.87,32.79,5.04-104.04,49.18-138.08,68.1c-34.05,18.92-104.04,47.92-120.43,57.38-15.13,8.83-37.83,20.18-53.59,22.07l22.07,11.35c67.96-32.42,138.12-60.02,209.96-82.6,18.92-5.04,111.6-20.18,121.69-22.07,10.09-1.89,38.46-8.83,11.98,10.09s-95.21,41.61-137.45,51.7c-42.24,10.09-97.1,21.44-133.67,32.79-30.9,8.83-49.18,16.39-58.64,17.02l14.5,7.57c64.01-14.83,128.87-25.78,194.2-32.79,30.26-1.26,127.36-15.13,139.34-19.55s28.37,6.94-5.67,20.81c-34.05,13.87-95.21,36.57-131.78,39.09l-122.32,7.57c-15.76,.63-38.46-2.52-56.12-6.31l21.44,11.35,62.42,15.76c47.92,13.24,85.75,21.44,136.19,61.79,50.44,40.35,81.34,71.88,87.01,76.92s18.92,23.96-6.31,9.46-59.9-25.22-93.32-46.66c-33.42-21.44-100.88-57.38-128.63-71.25l-17.02-10.09,.63,.63c32.16,27.11,90.16,87.01,117.91,116.65s35.31,46.66,39.09,51.07,20.81,25.85-15.13,0c-35.94-25.85-80.71-69.99-111.6-99.62-25.85-25.22-55.49-64.94-70.62-87.64-1.96-.67-3.86-1.52-5.67-2.52l-3.78-1.89c11.98,16.39,28.37,39.72,39.09,58.64,18.92,34.05,47.29,92.06,58.64,117.28l19.55,47.29c4.41,10.72-3.78,6.94-18.28-15.76-14.5-22.7-58.64-81.34-76.92-125.47-13.87-34.05-29-69.36-34.68-88.9l-20.18-10.72c6.94,11.35,18.92,28.37,27.74,46.66,11.35,22.7,23.33,93.95,25.22,112.23,3.15,27.74,0,73.14-8.83,102.14-10.09,31.53-13.24,19.55-16.39,11.35-3.15-8.2-7.57-75.03-11.35-121.69-3.15-36.57-13.24-95.84-19.55-117.91-3.78-13.87-10.09-30.9-13.87-42.24l-24.59-11.98c3.78,13.87,10.09,39.09,15.13,53.59,6.94,20.81,22.7,88.27,24.59,133.04,1.26,39.09-1.26,81.34-3.15,93.95s-2.52,27.74-9.46,8.83c-6.94-18.92-24.59-83.23-28.37-120.43l-6.31-78.81c-1.89-15.76-10.72-77.55-10.72-97.1v-2.52l-28.37-14.5c15.9,46.99,24.82,96.07,26.48,145.65,.63,26.48-7.57,85.75-11.35,104.04l-8.2,37.83c-1.89,6.94-6.31,5.67-8.2-6.94s-2.52-97.73-2.52-129.26c0-31.53-3.15-94.58-3.78-104.04-.63-9.46,0-37.2-5.67-52.96l-.63-1.26-14.5-6.94c.63,15.13,2.52,42.24,4.41,58.01,2.52,23.33,6.31,103.4-2.52,143.76-8.83,40.35-17.02,85.75-21.44,98.36-4.41,12.61-8.2,27.11-11.35,6.94-3.15-20.18-5.67-97.73-3.78-130.52l3.78-87.01c1.26-16.39,11.98-51.7,15.76-71.88,1.31-7.7,3.21-15.29,5.67-22.7l-13.87-5.67-29.63-13.24c1.89,17.02,6.31,52.33,5.04,69.99-.63,24.59-5.67,93.95-15.76,127.36-10.09,33.42-23.96,96.47-29,109.71-5.04,13.24-11.35,22.07-10.72,5.67,.63-16.39-1.26-75.03,3.15-120.43,4.41-45.4,8.83-101.51,19.55-132.41,7.57-23.33,16.39-49.18,18.28-64.31l-19.55-8.2c-.63,15.76-3.78,42.24-18.28,76.29-25.85,61.16-61.16,136.19-69.36,148.8-8.2,12.61-21.44,46.03-27.74,45.4-6.94,0-6.31-13.24-4.41-30.9Z' style='fill:%23ff586b;'/%3E%3Cpath d='M284.24,876.03c-30.28-28-58.51-58.13-84.49-90.16C97.61,660.39,44.65,524.2,47.17,416.38c319.04-84.49,578.18,216.9,481.71,448.93-19.16,46.49-44.16,90.34-74.4,130.52-45.4-22.7-90.79-52.96-134.3-88.27l23.33-66.2-59.27,34.68Z' style='fill:%2360bbea;'/%3E%3Cpath d='M47.17,416.38c429.38,138.08,407.31,579.44,407.31,579.44m-14.5-136.19l74.4,39.09m-98.36-129.26l126.1,51.07m-163.93-136.82l168.98,53.59m-216.9-126.73l192.31,28.37m-240.86-85.12l192.94,5.04m-269.23-66.2l189.79-11.98m-271.12-34.05l169.61-20.18m148.8,435.06l-63.68,88.27m-52.33-37.2l89.53-143.13m-158.89,79.45l121.06-165.2m-185.37,94.58l137.45-167.72m-185.37,99.62l136.82-156.37m-184.74,71.25l108.45-132.41m-140.61,42.24l59.27-88.27' style='fill:none; stroke:%239ae2f6; stroke-miterlimit:10; stroke-width:1.41px;'/%3E%3Cpath d='M666.97,713.99c-139.34,42.24-299.5,19.55-426.23-75.03C114,544.38,49.06,400.62,54.11,258.12c145.96-43.61,303.94-15.8,426.23,75.03,126.73,94.58,191.68,238.34,186.63,380.83Z' style='fill:%239ae2f6;'/%3E%3Cpath d='M78.7,273.25l541.61,402.9m-103.4,27.74l-8.83-110.34m-81.34,67.47l-10.72-135.56m-74.4,158.26l-18.28-226.99m-74.4,151.95l-17.65-220.68m-82.6,54.22l-10.09-122.95m493.06,260.4l-110.97,20.81m81.34-100.88l-174.02,32.16m125.47-109.08l-217.53,40.35m131.15-109.71l-223.83,40.98m99.62-104.04l-191.68,35.31' style='fill:none; stroke:%2360bbea; stroke-miterlimit:10; stroke-width:2.62px;'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__main {
    @include wrap;
  }

  &__content {
    padding-bottom: 50px;
    @include mq($from: desktop) {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 250px;
      padding-bottom: 250px;
    }
  }

  &__title {
    margin: 0;

    strong {
      font-weight: 400;
      color: $color-tertiary;
    }

    @include mq($until: tablet) {
      font-size: 2em;
      line-height: 1.4;
    }

    @include mq($until: mobile) {
      font-size: 1.5em;
      line-height: 1.5;
    }

    @include mq($until: 369px) {
      font-size: 1.35em;
    }

    .wave {
      position: relative;
      font-weight: 400;
      display: inline-block;

      &:before {
        content: "";
        @include overlay;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 647.23 21'%3E%3Cpath fill='%2377B9E4' d='M647.23,3c-26.72,0-40.32,4.54-53.46,8.92C580.4,16.39,566.57,21,539.35,21s-41-4.61-54.41-9.08C471.8,7.54,458.21,3,431.48,3S391.17,7.54,378,11.92C364.65,16.39,350.82,21,323.61,21s-41-4.61-54.41-9.08C256.06,7.54,242.46,3,215.74,3s-40.31,4.54-53.46,8.92C148.91,16.39,135.08,21,107.87,21s-41-4.61-54.41-9.08C40.32,7.54,26.72,3,0,3V0C27.21,0,41,4.61,54.41,9.08,67.56,13.46,81.15,18,107.87,18s40.32-4.54,53.46-8.92C174.7,4.61,188.53,0,215.74,0s41,4.61,54.41,9.08C283.3,13.46,296.89,18,323.61,18s40.32-4.54,53.46-8.92C390.44,4.61,404.27,0,431.48,0s41,4.61,54.41,9.08C499,13.46,512.63,18,539.35,18s40.32-4.54,53.47-8.92C606.19,4.61,620,0,647.23,0Z'/%3E%3C/svg%3E");
        background-repeat:repeat-x;
        background-position: bottom;
        background-size: 550px;
        animation: slideleft 500s infinite linear;
        transform: translateY(10px);

        @include mq($until: tablet) {
          background-size: 395px;
          animation: slideleft 700s infinite linear;
          transform: translateY(6px);
        }

        @include mq($until: mobile) {
          background-size: 296px;
        }
      }
    }

    @keyframes slideleft {
      from { background-position-x: -550px; }
      to { background-position-x: -90000px; }
    }

    .star {
      display: inline-block;
      vertical-align: top;
      font-family: 'Arial Unicode MS';
      color: $color-secondary;
      animation: rotateStar 10s infinite $ease-in-out-quart;
    }

    @keyframes rotateStar {
      0% { transform: rotate(0deg); }
      12.5% { transform: rotate(90deg); }
      25% { transform: rotate(90deg); }
      37.5% { transform: rotate(180deg); }
      50% { transform: rotate(180deg); }
      62.5% { transform: rotate(270deg); }
      75% { transform: rotate(270deg); }
      87.5% { transform: rotate(360deg); }
      100% { transform: rotate(360deg); }
    }

    .border {
      border: 2px solid $color-tertiary;
      border-radius: 80px;
      padding: 5px 30px 5px;

      @include mq($until: tablet) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &__button {
    @include reset-button-style;
    display: block;
    @include absolute(null,-200px,-200px,null);

    @include mq($until: wide) {
      right: -175px;
      bottom: -175px;
    }

    @include mq($until: desktop) {
      right: -75px;
      bottom: -75px;
    }

    @include mq($until: tablet) {
      right: -50px;
      bottom: -80px;
    }

    @include on-event {
      color: white !important;
    }

    .icon {
      fill: $color-tertiary;
      @include size(100px);
      @include absolute(calc(50% - 50px),null,null,calc(50% - 50px));
      animation: animateArrowDown .75s infinite linear;

      @include mq($until: wide) {
        @include size(70px);
        @include absolute(calc(50% - 35px),null,null,calc(50% - 35px));
      }

      @include mq($until: desktop) {
        @include size(50px);
        @include absolute(calc(50% - 25px),null,null,calc(50% - 25px));
      }

      @include mq($until: tablet) {
        @include size(30px);
        @include absolute(calc(50% - 15px),null,null,calc(50% - 15px));
      }
    }
  }

  @keyframes animateArrowDown {
    0% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
  }

  &__circle {
    fill: currentColor;
    transform-origin: center;
    @include size(640px);
    text-transform: uppercase;
    animation: rotateCircle 10s infinite linear;

    @include mq($until: wide) {
      @include size(480px);
    }

    @include mq($until: desktop) {
      @include size(240px);
    }

    @include mq($until: tablet) {
      @include size(175px);
    }
  }

  @keyframes rotateCircle {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }

}