$dark-blue : #281168;
$light-blue : rgb(112, 212, 240);
$pink : #ee798b;
$green: #58de53;
$light-gray:#f3f4f3;
$ultra-light-gray:#f5f4f9;
$text-color:#716b89;
$bold: 500;

$su: 20px; // spacing-unit

$mw: 1140px; // max-width



@mixin ff-r {
    font-family: 'Akzidenz Grotesk',sans-serif;
}


@import 'partials/temp';
@import 'partials/_footer';
@import 'partials/_mixins';
