/*
* BASE
*/

html, body {
	font-family: -apple-system, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px;
    font-weight:100;
    -webkit-font-smoothing: antialiased;
    position:relative;
    color:$text-color;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (min-width:400px) {
        font-size:16px;
    }

    @media (min-width:768px) {
        font-size:18px;
    }
}
