/*
* FOOTER
*/

.site-footer {
    margin-top:$su*7    ;
    padding-top:$su*2;
    padding-bottom:$su*2;
    background-color:$dark-blue;
    color:white;
    @include ff-r;

    .section-blocks {
        margin-top:100px;
    }

    .section-blocks--no-margin-top {
        margin-top:0;

        .section-block {
            margin-top:0;
        }
    } 

    h1 {
        color:white;
    }

    &__action {

        a {
            float:right;
        }
    }

    &__credits {
        margin-top:$su*5;
        padding-top:$su*1.5;
        border-top:1px solid #594490;
        font-size:1.2rem;

        .section-block {
            width:auto;
        }
    }

    .span-block {
        display:inline-block;
        margin-left:1.5em;
    }

    .text-link {
        color:white;
        border-bottom:1px solid white;
    }
}