/*
* HEADER
*/

.site-header {
    @include max-width;
    padding-top:$su*2;
    padding-bottom:$su*2;
}

.site-title {
    font-size:2rem;

    &__first {
        color:$dark-blue;
    } 

    &__second {
        color:$light-blue;
    } 
}