/*
* HOMEPAGE
*/

.colibri-wrapper {
    position: absolute;
    top: 50px;
    right: $su;
    z-index: -1;
    width: 100%;
}

.colibri-img {
    position: absolute;
    right: -14vw;
    width: 40%;
    width: 75vw;
    min-width: 160px;
    top: -7vw;
	opacity: 0;
    max-height:1200px;
	animation-name:anim-fullcolibri;
    animation-duration: 800ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.39,.58,.57,1);
	
	@supports not (display:grid) {
	width:67vw;
}

    @media (min-width:768px) {
        top:-14vw;
    }
}


@keyframes anim-fullcolibri {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@keyframes anim-colibri {
    from {
        transform:translate(300px, -120px);
    }
    to {
        transform:translate(0);
    }
}

#animated-colibri {
    animation-name:anim-colibri;
    animation-duration: 1000ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.39,.58,.57,1);
	
}

.homepage-header {
    margin-top:$su*4;
}

.homepage-intro {
    max-width:80vw;
	opacity: 0;
	animation-name:appeartitle2;
    animation-duration: 1000ms;
    animation-delay: 1600ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.39,.58,.57,1);

    .button {
        margin-top:$su;
    }

    @media (min-width:400px) {
        max-width:60vw;
    }

    @media (min-width:580px) {
        max-width:50vw;
    }

    @media (min-width:768px) {
        max-width:50%;
    }
}

@keyframes appeartitle2 {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.homepage-content {
	opacity: 1;
	margin-top:$su*5;
	animation-name:appeartitle3;
    animation-duration: 1000ms;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.39,.58,.57,1);
	

    @media (min-width:768px) {
        margin-top:$su*10;
    }
}

@keyframes appeartitle3 {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.gray-block {
    display:block;
    width:100%;
    background-color:$light-gray;

    &:after {
        content: "";
        display: block;
        padding-bottom: 50%;
    }
}

.section--us {
    background: linear-gradient(to bottom, #{$ultra-light-gray} 0%,#ffffff 100%);

    &__img {
        display:block;
        position:relative;

        @media (min-width:400px) {
            top:-$su*2;
        }

        @media (min-width:768px) {
            top:-$su*5;
        }

        img {
            width:100%;
            box-shadow: 10px 10px 36px #ccc;
            border-radius:4px;
        }
    }

    .section-title {
        margin-top:$su*3.5;
    }

    .section-block {
        margin-top:0;
    }

    &__txt {
        margin-top:$su*2;
    }
}

.topnametag {
    border: 1px solid $light-blue;
	border-radius: 2px;
    @include ff-r;
    display: inline-block;
    padding:0.1em 0.6em;
    font-size:0.9rem;
    margin-bottom:$su/2;
    color:$light-blue;
}