/*
* MODULES
*/

.block-mw {
    @include max-width;
}

.block-50 {

    @media (min-width:768px) {
        max-width:50%;
    }
}

.section-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-block {
    width:100%;
    margin-top:$su;

    @media (min-width:768px) {
        width:calc(50% - #{$su * 2});
    }
}

.spacing-block {
    margin-bottom:$su*2;
}

.info-card {
    padding:2em;
    background-color:$light-gray;

    &--flex {
        display:flex;

        .info-card__capital {
            @include ff-r;
            color:$green;
            font-size:3rem;
        }

        .info-card__content {
            margin-left:$su*2;
            font-size:1.2rem;
        }
    }
}

.button {
    display:inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    color:$dark-blue;
    border: 2px solid currentColor;
    border-radius: 2em;
    font-size:1.2rem;
    margin: 1em 0;
    transition:color 150ms, border-color 150ms;

    &:hover, &:focus {
        color:$pink;
    }
}