/*
* MODULES
*/

.block-mw {
    @include max-width;
}

.block-50 {

    @media (min-width:768px) {
        max-width:50%;
    }
}

.section-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--we {
        margin-top:$su*2;
    }
}

.section-block {
    width:100%;
    margin-top:$su*2;

    @media (min-width:768px) {
        width:calc(50% - #{$su * 3});
    }

    &--padding-space{
        padding-right:4em;
    }

    &--flex-column {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
}

.spacing-block {
    margin-bottom:$su*2;
}

.info-card {
    padding:2em;
    background-color:$light-gray;

    &--flex {
        display:flex;

        .info-card__capital {
            @include ff-r;
            color:$green;
            font-size:3rem;
        }

        .info-card__content {
            margin-left:$su*2;
            font-size:1.2rem;
        }
    }
}

.button {
    display:inline-block;
    text-decoration: none;
    padding: 0.75em 1.25em;
    color:$dark-blue;
    border: 2px solid currentColor;
    border-radius: 2em;
    font-size:1.2rem;
    margin: 1em 0;
    transition:all 150ms ease-out;

    &--color-pink {
        border:none;
        background-color:$pink;
        color:white;
    }

    &:hover, &:focus {
        color:$pink;
    }
}

.button--color-pink:hover {
    color:white;
}

.section-links {
    margin-top:$su*1.5;
}

.text-link {
    color: $dark-blue;
    text-decoration: none;
    display: inline-block;
    position: relative;
    @include ff-r;
    transition: 150ms color ease-out;
    border-bottom:2px solid $dark-blue;
    padding-bottom:0.4em;

    &:hover, &:focus {
        color:$pink;
        border-color:$pink;
    }
}