<header class="header" role="banner">

  <div class="header__main">
  
    <div class="header__logo">
      <a class="logo" href="/">
  <img src="/images/LogoWhite.svg" alt="Studio Colibri">
</a>    </div>
    
    <div class="header__navigation">
      
      <div class="header-navigation">

        <nav role="navigation" aria-label="Menu supérieur">

          <ul class="menu">

      <li class="">

      <a href="#">
        A propos
      </a>

    </li>
      <li class="">

      <a href="#">
        Services
      </a>

    </li>
      <li class="">

      <a href="#">
        Contact
      </a>

    </li>
  
</ul>
          
        </nav>

      </div>
      
    </div>

  </div>

</header>