{{ define "main" }}
<div class="main" role="main">
  <section class="hero">

    <div class="hero__main">

      <div class="hero__content">

        <h1 class="hero__title">
          Utiliser des <strong class='wave'>technologies modernes</strong> <br />pour <span class='star'>✱</span>
          construire un web <br />plus <strong>léger</strong>, <strong>performant</strong> et <strong
            class='border'>inclusif</strong> 
        </h1>
       
      </div>

    </div>

{{ partial "rotate-circle.html" }}

  </section>
  <section id="pourquoi" class="why">

    <div class="why__main">

      <div class="why__head">

        <p class="hat">
          Notre vision
        </p>
           

        <h2 class="why__title">
          L’approche Colibri
        </h2>

      </div>

      <div class="why__list">

        <div class="why__list-item">

          <div class="why-item">

            <h3 class="why-item__title">
              Métabolisme
            </h3>

            <p>
              D’ici 2025, l’empreinte du numérique pourrait représenter plus de 8% du total des GES.
            </p>

          </div>

        </div>
        <div class="why__list-item">

          <div class="why-item">

            <h3 class="why-item__title">
              1,5Mds
            </h3>

            <p>
              Le nombre de site actuellement en ligne, générant en moyenne 4g de CO2
            </p>

          </div>

        </div>
        <div class="why__list-item">

          <div class="why-item">

            <h3 class="why-item__title">
              27563
            </h3>

            <p>
              D’ici 2025, l’empreinte du numérique pourrait représenter plus de 8% du total des GES.
            </p>

          </div>

        </div>
        <div class="why__list-item">

          <div class="why-item">

            <h3 class="why-item__title">
              400%
            </h3>

            <p>
              Le nombre de site actuellement en ligne, générant en moyenne 4g de CO2
            </p>

          </div>

        </div>

      </div>


    </div>

  </section>
  <section class="about">

    <div class="about__main">

      <div class="about__columns">

        <div class="about__columns-left">
          <div class="about__picture">
            <img src="assets/img/blank.jpg" class="lazyload" alt="An image"
              data-src="https://images.unsplash.com/photo-1564436644974-d6e275defaa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=892&q=80" />
          </div>
        </div>

        <div class="about__columns-right">
          <div class="about__text">
           {{ range where .Site.Pages "Section" "team"}}
           <h4>{{.Params.name}}</h4>
            <p>{{.Params.bio}}</p>
              {{end}}
          </div>
          
        </div>

      </div>

    </div>

{{partial "wave.html" .}}

  </section>
  <section class="cases">

    <div class="cases__main">

      <nav class="menu">

        <div class="menu__item">
          <a href="http://moineaux-biodiversite.be" target="_blank" class="menu__item-link">Moineaux & Biodiversité</a>
          <img class="menu__item-img"
            src="https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_1280/https://moineaux-biodiversite.be/wp-content/uploads/2022/04/Moineau-domestique-juve%CC%81nile-Bruxelles-09-2021.jpg"
            alt="Moineaux & Biodiversité" />
          <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
              <span>Moineaux & Biodiversité</span>
              <span>Moineaux & Biodiversité</span>
              <span>Moineaux & Biodiversité</span>
              <span>Moineaux & Biodiversité</span>
            </div>
          </div>
        </div>
        <div class="menu__item">
          <a href="https://garagesnumeriques.netlify.app" target="_blank" class="menu__item-link">Garages Numériques</a>
          <img class="menu__item-img" src="https://garagesnumeriques.netlify.app/images/_beursblue.jpg"
            alt="Garages Numériques" />
          <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
              <span>Garages Numériques</span>
              <span>Garages Numériques</span>
              <span>Garages Numériques</span>
              <span>Garages Numériques</span>
            </div>
          </div>
        </div>
        <div class="menu__item">
          <a href="https://atelierspapote.be" target="_blank" class="menu__item-link">Les Ateliers Papote</a>
          <img class="menu__item-img"
            src="https://scontent.fbru2-1.fna.fbcdn.net/v/t39.30808-6/287235713_773845547317964_7691617484386441209_n.png?stp=dst-png_s1080x2048&_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=AAzn0CX4rnIAX8EYVb8&_nc_ht=scontent.fbru2-1.fna&oh=00_AT9W_iGJD1OHE0gvTOeB5ONJJIssilrVvlUOY24Yg9NbeQ&oe=62B214AB"
            alt="Les Ateliers Papote" />
          <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
              <span>Les Ateliers Papote</span>
              <span>Les Ateliers Papote</span>
              <span>Les Ateliers Papote</span>
              <span>Les Ateliers Papote</span>
            </div>
          </div>
        </div>
        <div class="menu__item">
          <a href="" target="_blank" class="menu__item-link">Plateforme EventChange</a>
          <img class="menu__item-img" src="" alt="Plateforme EventChange" />
          <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
              <span>Plateforme EventChange</span>
              <span>Plateforme EventChange</span>
              <span>Plateforme EventChange</span>
              <span>Plateforme EventChange</span>
            </div>
          </div>
        </div>
        <div class="menu__item">
          <a href="https://www.toque-toc.be" target="_blank" class="menu__item-link">Traiteur Toque-Toc !</a>
          <img class="menu__item-img"
            src="https://www.toque-toc.be/assets/img/photos/buffets-froid/salade-crevettes.jpg"
            alt="Traiteur Toque-Toc !" />
          <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
              <span>Traiteur Toque-Toc !</span>
              <span>Traiteur Toque-Toc !</span>
              <span>Traiteur Toque-Toc !</span>
              <span>Traiteur Toque-Toc !</span>
            </div>
          </div>
        </div>
        <div class="menu__item">
          <a href="https://www.imagine-magazine.com" target="_blank" class="menu__item-link">Imagine Magazine</a>
          <img class="menu__item-img"
            src="https://kiosque.imagine-magazine.com/wp-content/uploads/2020/05/Imagine139_couvertures.jpg"
            alt="Imagine Magazine" />
          <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
              <span>Imagine Magazine</span>
              <span>Imagine Magazine</span>
              <span>Imagine Magazine</span>
              <span>Imagine Magazine</span>
            </div>
          </div>
        </div>

      </nav>

    </div>

  </section>
  <section class="services">

    <div class="services__main">

      <div class="services__head">

        <p class="hat">
          Découvrir
        </p>

        <h2 class="services__title">
          Nos services
        </h2>

        <div class="services__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis pretium leo, eget auctor leo
            facilisis a.</p>
        </div>

      </div>

      <div class="services__list">
        {{ range where .Site.RegularPages "Section" "services" }}
        <div class="services__list-item">
          <div class="accordeon js-accordeon">
            <div class="accordeon__head">
              <h3 class="accordeon__title">
                <span>{{.Params.emoji}} </span>{{.Params.nom}}
              </h3>
            </div>
            <div class="accordeon__content">

              <div class="accordeon__text">
                <p>{{.Params.description}}</p>
              </div>

            </div>

            <div class="accordeon__button">
              <button class="accordeon__btn js-accordeon-button">
                <span></span>
              </button>
            </div>

          </div>
        </div>
        {{end}}

          </div>

      </div>

    </div>

  </section>
  <section id="tester-mon-site" class="webcheck">

  </section>
</div>

{{ end }}