<footer class="site-footer" role="contentinfo">
  <div class="block-mw">
    <div class="section-blocks">
      <div class="section-block">
        <h1>Envie d'un site rapide, léger et plus écologique</h1>
      </div>
      <div class="section-block site-footer__action">
          <a class="button button--color-pink" href="mailto:bonjour@studiocolibri.be">bonjour@studiocolibri.be</a>
        </div>
    </div>
    <div class="site-footer__credits">
        <div class="section-blocks section-blocks--no-margin-top">
          <div class="section-block">
            &copy; {{ now.Format "2006" }} - studiocolibri
          </div>
          <div class="section-block">
              <span class="span-block">En Féronstrée, 104 - Liège</span>
              <span class="span-block">
                <a class="text-link" href="#">Mentions légales</a>
              </span>
          </div>
        </div>
        
    </div>
  </div>
</footer>
