/**
 * Media
 */

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

img[width],
img[height] {
  max-width: none;
}

figure {
  margin: 0;
  @include aspect-ratio(16,9);
  @include img-object-fit;

  figcaption {
    @include absolute(null,null,0,0);
    background-color: $color-primary;
    color: white;
    font-size: 13px;
    padding: 5px 15px;
  }
}

object,
iframe,
embed,
canvas,
video,
audio {
  max-width: 100%;
}
