.about {

  position: relative;

  &__main {
    @include wrap;
  }

  svg {
    @include absolute(0,0,null,0);
    padding-top: 250px;
    text {
      fill: #FF9800;
    }
  }

  &__columns {
    display: flex;

    &-left,
    &-right {
      width: 50%;
    }

    &-left {
      margin-right: 50px;
    }

    &-right {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

}