{{ define "main" }}
    <article class="list">
        <header class="page-header block-mw">
            <h1>{{.Title}}</h1>
            <div class="">
                {{.Content}}
            </div>
        </header>
        <section class="page-wrapper block-mw" style="margin-top:60px">
            <ul>
            <!-- Ranges through content/post/*.md -->
            {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                </li>
            {{ end }}
            </ul>
        </section>
    </article>
{{ end }}